<section class="mb-section">
  <div class="wrapper-post user-li d-flex m-sm border">
    <div class="img-con">
      <img class="av" src="<%= @user.photo %>" alt="User Avatar"/>
    </div>

    <div class="user-bdy d-flex">
      <a class="user-pc d-flex" href="/users/<%= @user.id %>/posts">
        <h2 class="fs-sm"><%= @user.name%></h2>
        <p class="post-count">Number of posts: <%= @user.posts_counter || 0 %></p>
      </a>
    </div>
  </div>

  <div class="ps-bdy-block d-flex-2 p-sm">
    <% @posts.each_with_index do |post, index| %>
      <a href="posts/<%= post.id %>">
        <div class="post-user-each user-post-li user-bio_div border mb-sm d-flex-2">
          <h3>Post #<%= index + 1 %></h3>
          <p><%= post.text%></p>
          <div class="sp_div d-flex">
            <span class="comments  mr-sm">Comments: <%= post.comments_counter || 0 %>, </span>
            <span class="likes">Likes: <%= post.likes_counter || 0 %></span>
          </div>
        </div>
      </a>

      <ul class="comments user-comment d-flex-2">
        Comments:
        <div class="border mb-sm">
          <% post.recent_comments.each do |comment| %>
            <li class="user-bio_div d-flex-2"><%= comment.author.name %>: <%= comment.text %> </li>
          <% end %>
        </div>
      </ul>
    <% end %>
  </div>

</section>